body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toolbar {
    margin: 10px;
}

button, select, input[type="color"] {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: none; /* 移除边框 */
    background: none; /* 移除背景 */
    cursor: pointer; /* 鼠标悬停时显示为手形 */
}

#canvas {
    border: 1px solid #000;
    cursor: crosshair;
}

#text-input {
    font-size: 20px;
    border: 1px solid #000;
    outline: none;
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.8);
}

button {
    position: relative;
}

button:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
}

input[type="color"] {
    -webkit-appearance: none; /* 隐藏默认样式 */
    appearance: none; /* 隐藏默认样式 */
    width: 30px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}
